/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20/Set/2014, 15:50:29
    Author     : Paulo Gonçalves <pjfgoncalves23 at hotmail.com>
*/
.slideshow {
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
}
.slideshow-image-main {
    text-align: center;
}
.slideshow-image-thumbs {
    padding-top: 0.250em;
}
.image-main {

}
.image-thumbs {
    width: 14%;
}
.image-thumbs:hover {
    cursor: pointer;
}
.teste {
    
}